<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="API_KEY" value="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
"/>
    <add key="API_ENDPOINT" value="https://openrouter.ai/api/v1/chat/completions"/>
  </appSettings>
</configuration>